{% extends 'account/profile/profile_base.html' %}
{% block title %}{{ user.full_name|title }}{% endblock title %}
{% block body %}
  <div class="mdl-layout mdl-js-layout mdl-layout--fixed-drawer mdl-layout--fixed-header is-small-screen">
    <!-- Header nav -->
    <header class="mdl-layout__header">
      <div class="mdl-layout__header-row">
        <div class="mdl-layout-spacer"></div>
        <div class="avatar-dropdown" id="icon">
          <span>{{ user.full_name|title }}</span>
          <img src="{{ user.avatar.url }}" alt="" class="rounded-pill">
        </div>
        <div class="avatar-dropdown">
          <a class="text-decoration-none font-weight-bold" href="{% url 'account:logout' %}"
             style="color: #8a8888;font-size: small;">Logout</a>
        </div>
      </div>
    </header>

    <div class="mdl-layout__drawer">
      <header>{{ user.full_name|title }}</header>
      <div class="scroll__wrapper" id="scroll__wrapper">
        <div class="scroller" id="scroller">
          <div class="scroll__container" id="scroll__container">
            <nav class="mdl-navigation">
              <a class="mdl-navigation__link text-decoration-none" href="{% url 'blog:add_post' %}">
                <i class="material-icons">multiline_chart</i>
                Add Post
              </a>
              <div class="mdl-layout-spacer"></div>
              <hr>
              <a class="mdl-navigation__link text-decoration-none" href="#">
                <i class="material-icons" role="presentation">link</i>
                {{ user.email }}
              </a>
            </nav>
          </div>
        </div>
        <div class='scroller__bar' id="scroller__bar"></div>
      </div>
    </div>

    <main class="mdl-layout__content">

      <div class="mdl-grid mdl-grid--no-spacing dashboard">

        <div
            class="mdl-grid mdl-cell mdl-cell--9-col-desktop mdl-cell--12-col-tablet mdl-cell--4-col-phone mdl-cell--top">

          <!--section -->
          {% include 'account/profile/include_file/section.html' %}
          <!-- Table-->
          <div class="mdl-cell mdl-cell--12-col-desktop mdl-cell--12-col-tablet mdl-cell--4-col-phone ">
            <table class="mdl-data-table mdl-js-data-table mdl-data-table--selectable mdl-shadow--2dp projects-table">
              <thead>
              <tr>
                <th class="mdl-data-table__cell--non-numeric">Title</th>
                <th class="mdl-data-table__cell--non-numeric">Status</th>
                <th class="mdl-data-table__cell--non-numeric">Comments</th>
                <th class="mdl-data-table__cell--non-numeric">Publish Time</th>
                <th class="mdl-data-table__cell--non-numeric">Category</th>
              </tr>
              </thead>
              <tbody>
              {% for post in posts %}
                <tr>
                  <td class="mdl-data-table__cell--non-numeric">{{ post.title|truncatechars:15 }}</td>
                  <td class="mdl-data-table__cell--non-numeric">
                    {% if post.draft %}
                      <span class="label label--mini color--light-blue">Draft</span>
                    {% else %}
                      <span class="label label--mini font-weight-bolder color--green">Publish</span>
                    {% endif %}
                  </td>
                  <td class="mdl-data-table__cell--non-numeric">{{ post.comment_count }}</td>
                  <td class="mdl-data-table__cell--non-numeric">{{ post.publish_time }}</td>
                  <td class="mdl-data-table__cell--non-numeric">
                    {% if post.category %}
                      {{ post.category }}
                    {% else %}
                      ----
                    {% endif %}
                  </td>
                </tr>
              {% empty %}
                <tr>
                  <td class="mdl-data-table__cell--non-numeric">----</td>
                  <td class="mdl-data-table__cell--non-numeric">----</td>
                  <td class="mdl-data-table__cell--non-numeric">----</td>
                  <td class="mdl-data-table__cell--non-numeric">----</td>
                  <td class="mdl-data-table__cell--non-numeric">----</td>
                </tr>
              {% endfor %}

              </tbody>
            </table>
          </div>
        </div>

      </div>

    </main>

  </div>
{% endblock body %}
