{% extends 'base.html' %}
{% block content %}

  <main class="container my-5">
    <h1 class="h2 my-3 ">{{ post.title }}</h1>
    <span>Author:
        <a class='text-info font-weight-bold text-decoration-none'
           href="{% url 'blog:posts' %}">{{ post.author|title }}</a>
    </span>
    <div class="card w-100">
      {% if post.image %}
        <img class="card-img-top" src="{{ post.image.url }}" alt=""
             style="height: 28rem;">
      {% endif %}
      <div class="card-body jumbotron m-0">
        <p class="card-text">{{ post.content|safe }}</p>
      </div>
    </div>
    <div class=" mb-5  d-flex justify-content-between text-primary">
      <span>
        Show Author: <span class="font-weight-bold">{{ setting.author }}</span>,&nbsp;
        Show Comment: <span class="font-weight-bold">{{ setting.comment }}</span>,&nbsp;
        Allow Discussions: <span class="font-weight-bold">
                            {{ setting.allow_discussion }}</span>,
      </span>
    </div>
    <hr>
    <div class="d-flex align-items-center flex-column">
      {% include 'blog/Handle/comment.html' %}
    </div>
    <hr>
    <div class="d-flex justify-content-center" id="comment">
      {% if user.is_authenticated %}
        <form method="post" action="{% url 'blog:add_comment' post.slug %}">
          {% csrf_token %}
          {% if parent %}
            <label>reply to: @{{ parent.author }}</label>
            <input type="hidden" name="parent" value="{{ parent.id }}">
          {% else %}
            <label>{{ form.content.label }}:</label>
          {% endif %}
          {{ form.content }}
          <input type="hidden" name="post" value="{{ post.slug }}">
          <div class="d-flex justify-content-end">
            <button class="btn btn-outline-primary my-2 d-block float-left">
              Send comment
            </button>
          </div>
        </form>
      {% endif %}
    </div>
  </main>


{% endblock content %}