{% extends 'base.html' %}
{% load static %}
{% block content %}

  <main class="container my-5">
    <h1 class="h2 my-3 ">{{ post.title }}</h1>
    <span>Author:
        <a class='text-info font-weight-bold text-decoration-none'
           href="{% url 'blog:posts' %}">{{ post.author|title }}</a>
    </span>
    <div class="card w-100">
      {% if post.image %}
        <img class="card-img-top" src="{{ post.image.url }}" alt=""
             style="height: 28rem;">
      {% endif %}
      <div class="card-body jumbotron m-0">
        <p class="card-text">{{ post.content|safe }}</p>
      </div>
    </div>
    <div class=" mb-5  d-flex justify-content-between text-primary">
      <span>
        Show Author: <span class="font-weight-bold">{{ setting.author }}</span>,&nbsp;
        Show Comment: <span class="font-weight-bold">{{ setting.comment }}</span>,&nbsp;
        Allow Discussions: <span class="font-weight-bold">
                            {{ setting.allow_discussion }}</span>,
      </span>
    </div>
    <hr>
    <div class="d-flex align-items-center flex-column" id="comments"></div>
    <hr>
    <div class="d-flex flex-column align-items-center" id="commentFrom">
      {% if user.is_authenticated %}
        <div class="d-flex justify-content-start w-75">
          <label for="addComment" id="contentLabel">Content:</label>
        </div>
        <input type="hidden" value="" id="cmParent">
        <textarea name="comment" id="addComment" cols="30" rows="10"
                  class="form-control d-block w-75" style="resize: none;"></textarea>
        <div class="d-flex justify-content-end w-75">
          <button class="btn btn-outline-primary my-2 d-block float-left"
                  onclick="sendComment('{{ post.slug }}')">
            Send comment
          </button>
        </div>
      {% endif %}
    </div>
  </main>

{% endblock content %}

{% block javascript %}
  <script src="{% static 'jquery/jquery.js' %}"></script>
  <script src="{% static 'jquery/blog.js' %}"></script>
  <script>
      getComments('{% url 'blog:comments' post.slug %}');
  </script>
{% endblock javascript %}