{% extends 'base.html' %}
{% block content %}

  <main class="container my-3">
    <form method="post" enctype="multipart/form-data" class="form-group">
      {% csrf_token %}
      {% if form.errors %}
        <div class="alert alert-danger">
          {{ form.errors }}
        </div>
      {% endif %}
      {% for field in form %}
        <label>{{ field.label }}:</label>
        {{ field }}
      {% endfor %}
      <div class="my-4 w-100 d-flex justify-content-center">
        <button class="btn btn-secondary w-50">Submit</button>
      </div>
    </form>
  </main>

{% endblock content %}