{% extends 'base.html' %}
{% block content %}

  <main class="container my-5">
    <h1 class="h2 my-3 ">{{ post.title }}</h1>
    <span>Author:
        <a class='stretched-link text-info font-weight-bold text-decoration-none'
           href="{% url 'blog:posts' %}">{{ post.author }}</a>
    </span>
    <p class="p-5 text-monospace jumbotron">{{ post.content }}</p>
    <div class=" my-5 py-5 text-center text-primary">
      <p class=" d-block">
        Show Author: <span class="font-weight-bold">{{ setting.author }}</span>
      </p> <br>
      <p class=" d-block">
        Show Comment: <span class="font-weight-bold">{{ setting.comment }}</span>
      </p> <br>
      <p class=" d-block">
        Allow Discussions: <span class="font-weight-bold">{{ setting.allow_discussion }}</span>
      </p> <br>
    </div>
    <hr>
    <div class="d-flex align-items-center flex-column">
      {% for comment in comments %}
        <div class="card border-primary mb-3 w-75">
          <div class="card-header">{{ comment.author }}</div>
          <div class="card-body text-primary">
            <p class="card-text">{{ comment.content }}</p>
            <small class="text-muted font-weight-lighter">{{ comment.create_at }}</small>
          </div>
        </div>
      {% endfor %}
    </div>
    <hr>
    <div class="d-flex justify-content-center">
      {% if user.is_authenticated %}
        <form action="" method="post">
          {% csrf_token %}
          {{ form }}
          <button class="btn btn-outline-primary my-2 d-block float-left">Send comment</button>
        </form>
      {% endif %}
    </div>
  </main>


{% endblock content %}