{% extends 'base.html' %}
{% block content %}

  <main class="d-flex justify-content-center align-items-center" style="height: 100vh;">
    <form action="{% url 'blog:login' %}" method="post" style="width: 70vw;">
      {% csrf_token %}
      {{ form }}
      <div class="d-flex justify-content-between align-items-center py-2 my-2">
        <button type="submit" class="btn btn-primary w-25">Submit</button>
        <a href="{% url 'blog:register' %}" class="text-info text-decoration-none">have no account? </a>
      </div>
    </form>
  </main>

{% endblock %}