{% extends 'base.html' %}

{% block content %}

  <main class="container d-flex align-items-center justify-content-center my-5">
    <form  method="post" class="w-100">
      {% csrf_token %}

      {% if form.errors %}
        <div class="alert alert-danger">
          {{ form.errors }}
        </div>
      {% endif %}

      {% for field in form %}
        <div class="my-3">
          <label>{{ field.label }}:</label>
          {{ field }}
          {% if field.help_text %}
            <small class="text-muted">{{ field.help_text }}</small>
          {% endif %}
        </div>
      {% endfor %}

      <div class="w-100 d-flex justify-content-center my-4">
        <button class="btn btn-outline-primary w-50" type="submit">Submit</button>
      </div>
    </form>
  </main>

{% endblock %}